<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Football Ticket Sale App</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="background">
    <div class="box"></div>
</div>

<form th:action="@{/signup}" method="post">
    <h3>Create Account</h3>

    <label for="fullname" class="labelSignup">Full name</label>
    <input type="text" placeholder="Full name" id="fullname" name="fullname" required>

    <label for="username" class="labelSignup">Email</label>
    <input type="text" placeholder="Email" id="username" name="email" required>

    <label for="password" class="labelSignup">Password</label>
    <input type="password" placeholder="Password" id="password" name="password" required>

    <button type="submit" class="signupButton">Sign Up</button>
</form>
</body>
</html>