<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome page</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/Welcome.css}">
</head>
<body>

<div class="glow top-left"></div>
<div class="glow bottom-right"></div>

<nav class="navbar">
    <div class="logo">KupiKartu</div>
    <a th:href="@{/login}" class="btn-login">Prijava</a>
</nav>

<header class="main">
    <div class="main-content">
        <h1>Online prodaja <span class="highlight">ulaznica za nogometne utakmice</span></h1>
        <p>Ajde u shopping samnom. Idem u shopping s tobom.</p>

        <div class="main-buttons">
            <a th:href="@{/signup}" class="btn-signup">Registracija</a>
            <a href="#" class="btn-info">Otkrij više</a>
        </div>
    </div>
</header>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>